[Unit]
  Description="{{ chain_name }} {{ node_role }}"

[Service]
  User={{ chain_name }}
  Group={{ chain_name }}
  Restart=on-failure
  RestartSec=120

ExecStart=/usr/local/bin/{{ chain_name | lower }} \
  --no-hardware-benchmarks \
  --chain {{ chain_name }} \
  --port {{ libp2p_port }} \
  --prometheus-port {{ prometheus_port }} \
  --base-path /var/lib/{{ chain_name }} \
  --name {{ node_name }} \
{% if warp %}
  --sync warp \
{% endif %}
  --telemetry-url '{{ telemetry_url }}' \
{% if node_role == 'rpc' %}
  --rpc-external \
  --rpc-methods {{ rpc_methods }} \
  --rpc-max-connections {{ rpc_max_connections }} \
  --state-pruning archive \
  --blocks-pruning archive \
  --rpc-cors all \
  --runtime-cache-size={{ runtime_cache_size }} \
  --max-runtime-instances={{ max_runtime_instances }} \
  --rpc-max-request-size={{ rpc_max_request_size }} \
  --rpc-max-response-size={{ rpc_max_response_size }} \
  --rpc-max-subscriptions-per-connection={{ rpc_max_subscriptions_per_connection } \
  --rpc-max-connections={{ rpc_max_connections }}
{% elif node_role == 'boot' %}
  {% if node_key != "" %}
    --node-key {{ node_key }} \
  {% endif %}
  {% if node_key_file != "" %}
    --node-key-file {{ node_key_file }} \
  {% endif %}
  --state-pruning {{ state_pruning }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ rpc_port }} \
  --listen-addr /ip4/0.0.0.0/tcp/{{ ws_port }}/ws \
  --public-addr=/dns/{{ node_p2p_bind_dns }}/tcp/{{ rpc_port }} \
  --public-addr=/dns/{{ node_p2p_bind_dns }}/tcp/{{ ws_port }}/ws \
  --public-addr=/dns/{{ node_p2p_bind_dns }}/tcp/{{ wss_port }}/wss
{% else %}
  --state-pruning {{ state_pruning }} \
  --rpc-port {{ rpc_port }} \
{% endif %}
  -- \
  --name "{{ node_name }}-embedded-relay" \
{% if warp %}
  --sync warp \
{% endif %}
  --rpc-port {{ embedded_relay_rpc_port }} \
  --port {{ embedded_relay_libp2p_port }} \
  --prometheus-port {{ embedded_relay_prometheus_port }} \
{% if node_role == 'rpc'  %}
  --state-pruning archive \
  --blocks-pruning archive 
{% else %}
  --state-pruning {{ state_pruning }}
{% endif %}


[Install]
WantedBy=multi-user.target